<% if(config.allow_comments === 'true' && page.comment_status === 1){ %>
    <% if(config.disqus !== undefined && config.disqus !== "") { %>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function() {
            this.page.url = "https://<%- config.domain %>/page/<%- page.link %>";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "<%- page.link %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://<%= config.disqus %>.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
    <% } else { %>
        <div class="replies">
            <div class="cell">
                <span class="gray"><%= comments ? comments.length : 0 %> replies &nbsp;<strong class="snow">•</strong> &nbsp;<%= page.createdAt %></span>
            </div>
            <% if (comments){ comments.forEach((comment)=>{ %>
                <div class="cell" style="padding: 0">
                    <div class="reply-item">
                        <img src="<%= comment.user_avatar ? comment.user_avatar : '/theme/default_avatar.png' %>" class="avatar" alt="">
                        <div class="reply-item-content">
                            <div class="info" style="margin-top: 0">
                                <strong><a href="<%= comment.url %>" class="username"><%= comment.author ? comment.author : "Anonymous" %></a></strong>
                                &nbsp;•&nbsp;
                                <%= comment.createdAt %>
                            </div>
                            <div class="reply-content">
                                <%- comment.content ? comment.content : "No content" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% })} %>
        </div>
        <div class="comment-editor">
            <form method="post" action="/api/comment/" style="margin: 0">
                <div class="cell">
                    Add a New File
                </div>
                <div class="cell">
                    <input class="input" type="text" id="author" name="author" placeholder="Your name"  required onblur="saveCommentInfo()">
                    <input class="input" type="url" id="url" name="url" placeholder="Your website" onblur="saveCommentInfo()">
                    <textarea name="content" rows="6" required></textarea>
                    <input type="submit" class="button" value="Reply">
                </div>
                <div style="display: none">
                    <input type="text" name="page_id" value="<%= page.id %>">
                    <input type="text" name="title">
                    <input class="w3-input w3-border" type="email" id="email" name="email" placeholder="Your email">
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    let author = localStorage.getItem("comment-author");
                    if (!author) author = "";
                    let email = localStorage.getItem("comment-email");
                    if (!email) email = "";
                    let url = localStorage.getItem("comment-url");
                    if (!url) url = "";
                    document.getElementById("author").setAttribute("value", author);
                    document.getElementById("email").setAttribute("value", email);
                    document.getElementById("url").setAttribute("value", url);
                  });

                  function saveCommentInfo() {
                    localStorage.setItem("comment-author", document.getElementById("author").value);
                    localStorage.setItem("comment-email", document.getElementById("email").value);
                    localStorage.setItem("comment-url", document.getElementById("url").value);
                  }
                </script>
            </form>
        </div>
    <% } %>
<% } %>
