<%- include('./partials/header') %>
<div class="main">
    <div class="wrapper">
        <div class="middle-col">
            <div class="main-content box" style="border-bottom: 0">
                <div class="header"><a href="/">Home</a> <span class="chevron">&nbsp;›&nbsp;</span> <%= page.tag %></div>
                <div class="header">
                    <div class="title">
                        <%= page.title %>
                    </div>
                    <div class="info">
                        <a href=""><%= page.username %></a>
                        &nbsp;•&nbsp;
                        <%= page.post_time %>
                        &nbsp;•&nbsp;
                        <%= page.view %> views
                    </div>
                </div>
                <div class="cell">
                    <%-page.converted_content%>
                </div>
                <div class="bottom">
                    <a class="pagination-previous shadow-box" href="/page/<%= links.prev.link%>"><%= links.prev.title%></a>
                    <a class="pagination-next shadow-box" href="/page/<%= links.next.link%>"><%= links.next.title%></a>
                </div>
            </div>
            <%- include('./partials/comment')%>
        </div>
        <div class="right-bar">
            <%- include('./partials/panel') %>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
